.performance-container {
    .performance-header {
        display: flex;
        justify-content: space-between;
        height: 112px;
        align-items: center;
        .header-title {
            display: flex;
            flex-direction: column;
        }
        .header-button {
            button {
                width: 168px;
                height: 40px;
                &:first-child {
                    margin-right: 8px;
                }
            }
        }
    }
    .performance-progress {
        padding-top: 40px;
  
        .progress-container {
            display: flex;
            flex-direction: column;
            .progress-title {
                display: flex;
                img {
                    margin-right: 16px;
                }
                .progress-ask {
                    white-space: pre-line;
                }
            }
            .progress-detail {
                padding-top: 16px;
                .progress-item {
                    padding-top: 24px;
                    display: flex;
                    .progress-name {
                        width: 200px;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 16px;
                        display: flex;
                    }
                }
            }
        }
    }
    .position-list {
        padding-top: 80px;
        padding-bottom: 120px;
        .table-position {
            padding-top: 24px;
        }
    }
    .date-list {
        display: flex;
        flex-direction: column;
        float: left;
    }
    
}