.sign-up-container {
    padding: 16px 32px;
    .sign-up-header {
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
        .step-container {
            max-width: 720px;
            margin: 0 auto;
        }
    }
    .sign-up-body {
        max-width: 480px;
        margin: 0 auto;
        padding-top: 80px;
        .sign-up-wrapper {
            padding-top: 56px;
            padding-bottom: 80px;
            .citizen-button {
                button {
                    width: 228px;
                    height: 200px;
                    border-radius: 4px !important;
                }
            }
        }
        .radio-border {
            padding: 16px;
            border-radius: 2px;
            border: solid 1px #e6e8eb;
        }
        .radio-container {
            margin-bottom: 16px;
            display: flex;
            .radio {
                margin-right: 12px;
                margin-top: 6px;
            }
            .radio-group {
                display: flex;
                flex-direction: column;
            }
        }
        
        .question-desc {
            padding: 8px 0;
        }
        .flex-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-group {
            padding-top: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .back {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 12px;
                }
            }
            .sign-in {
                width: 144px;
                height: 56px;
            }
            .continue {
                width: 200px;
                height: 56px;
            }
        }
    }
}