.sign-up-container {
    padding: 16px 32px;
    .sign-up-header {
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
        .step-container {
            max-width: 720px;
            margin: 0 auto;
        }
    }
    .sign-up-body {
        padding-top: 80px;
        .sign-up-content {
            max-width: 480px;
            margin: 0 auto;
        }
        .signature-container {
            padding-top: 56px;
            .signature-button {
                padding-top: 16px;
                button {
                    width: 280px;
                    height: 56px;
                }
            }
        }
        .sign-up-11-container {
            padding-bottom: 40px;
            .sign-up-11-content {
                max-width: 640px;
                margin: 0 auto;
            }
            .plan-container {
                max-width: 1200px;
                margin: 0 auto;
                padding-top: 40px;
                .plan-item-container {
                    display: flex;
                    flex-direction: column;
                    min-height: 456px;
                    .plan-price-num {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding-top: 24px;
                        font-size: 40px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: normal;
                        text-align: center;
                        color: #051a33;
                        .symbol {
                            margin-bottom: 20px;
                        }
                        .mo {
                            margin-bottom: 4px;
                        }
                    }
                    .options-container {
                        padding-top: 40px;
                        img {
                            margin-right: 12px;
                        }
                        .option-item {
                            display: flex;
                            align-items: center;
                            padding-bottom: 16px;
                        }
                    }
                }
            }
        }
        .sign-up-wrapper {
            padding-top: 56px;
            padding-bottom: 80px;
            .citizen-button {
                button {
                    width: 228px;
                    height: 200px;
                    border-radius: 4px !important;
                }
            }
        }
        .radio-border {
            padding: 16px;
            border-radius: 2px;
            border: solid 1px #e6e8eb;
        }
        .radio-container {
            margin-bottom: 16px;
            display: flex;
            .radio {
                margin-right: 12px;
                margin-top: 6px;
            }
            .radio-group {
                display: flex;
                flex-direction: column;
            }
        }
        .question-desc {
            padding: 8px 0;
        }
        .flex-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-group {
            padding-top: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .back {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 12px;
                }
            }
            .sign-in {
                width: 144px;
                height: 56px;
            }
            .continue {
                width: 200px;
                height: 56px;
            }
        }
    }
}

.confirm-container {
    padding-top: 64px;
    max-width: 480px;
    margin: 0 auto;
    padding: 40px;
    .button-agree {
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
        button {
            width: 160px;
            height: 56px;
        }
    }
}

.signature-container {
    padding-top: 64px;
    max-width: 400px;
    margin: 0 auto;
    .ant-tabs-nav-wrap {
        text-align: center;
    }
    .button-apply {
        text-align: center;
        padding-top: 40px;
        button {
            width: 196px;
            height: 56px;
        }
    }
    .draw-container {
        padding-top: 56px;
        .signature-pad {
            margin-top: 24px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px #e6e8eb;
            .sigCanvas {}
        }
    }
    .upload-container {
        padding-top: 56px;
    }
}