.profile-container {
    max-width: 940px;
    margin: 0 auto;
    .title-section {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: #2e3033
    }
    padding: 8px 0;
    .profile-right {
        .ant-card-body {
            padding: 24px !important;
        }
        .link-button {
            margin-bottom: 8px;
            margin-right: 8px;
            height: 28px;
            border: solid 1px #a1aab3;
            background: #fff;
            font-size: 10px;
            line-height: 1.2;
            color: #a1aab3;
        }
    }
    .user-majors {
        box-shadow: inset 0 -0.5px 0 0 #edf0f2;
        padding-bottom: 16px;
        button {
            margin-right: 8px;
            border: none;
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #2e3033;
            border-radius: 4px;
            background-color: #edf0f2;
        }
    }
    .profile-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        .header-left {
            display: flex;
            img {
                object-fit: cover;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 24px;
            }
            .header-info {
                .user-name {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.33;
                    color: #2e3033;
                }
                .user-email {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.33;
                    color: #2e3033;
                }
                .sign-out-button {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.33;
                    color: #a1aab3;
                }
            }
        }
        .header-right {
            img {
                width: 21px;
                height: 21px;
            }
        }
    }
    .profile-body {
        padding-top: 24px;
        .user-project {
            .project-item {
                cursor: pointer;
                margin-right: 17px;
                img {
                    width: 142px;
                    height: 92px;
                    border-radius: 4px;
                }
            }
            .project-name {
                font-size: 12px;
                line-height: 1.33;
                padding-top: 12px;
                color: #45494d
            }
        }
        .skill-button {
            margin-bottom: 8px;
            margin-right: 8px;
            height: 28px;
            background: #006cd9;
            font-size: 10px;
            line-height: 1.2;
            color: #fff;
            border: none;
        }
        .interest-button {
            margin-bottom: 8px;
            margin-right: 8px;
            height: 28px;
            background: #12ca00;
            font-size: 10px;
            line-height: 1.2;
            color: #fff;
            border: none;
        }
    }
    .badge__container {
        .badge__item {
            margin-top: 16px;
            text-align: center;
            img {
                width: 64px;
                height: 64px;
            }
            .unhover {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
            &:hover {
                .unhover {
                    -webkit-filter: initial;
                    /* Safari 6.0 - 9.0 */
                    filter: initial;
                }
            }
            .badge__count {
                height: 20px;
                margin-top: 12px;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: center;
                color: #006cd9
            }
        }
    }
}