.edit__collaborator-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    &:last-child {
        padding-bottom: 0;
    }
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }
    input {
        height: 48px;
        border-radius: 4px;
    }
    .collaborator__name {
        margin-left: 16px;
        margin-right: 16px;
    }
    .collaborator__role {
        margin-right: 24px;
    }
}