:root {
    --macaroni-and-cheese: #f7ca3d;
    --boring-green: #6bc353;
    --pastel-red: #e75852;
    --black: #363636;
    --brownish-grey: #696969;
    --brown-grey: #9c9c9c;
    --very-light-pink: #e8e8e8;
    --white: #ffffff;
}

/* Text styles */
@font-face {
    font-family: TTCommons;
    src: url("../../static/fonts/TTCommons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: TTCommons-DemiBold;
    src: url("../../static/fonts/TTCommons-DemiBold.ttf") format("truetype");
}

.Display-Black-Left {
    font-family: TTCommons-DemiBold;
    font-size: 80px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    text-align: left;
    letter-spacing: -3px;
    color: var(--black);
}

.H1-Black-Left {
    font-family: TTCommons-DemiBold;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.2px;
    color: var(--black);
}

.H1-Black-Center {
    font-family: TTCommons;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--black);
}

.H3-Black-Center {
    font-family: TTCommons;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--black);
}

.Lead-Dark-Grey-Left {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: rgba(18, 31, 64, 0.7);
}

.H3-Black-Left {
    font-family: TTCommons-DemiBold;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.4px;
    text-align: left;
    color: var(--black);
}

.Button-White-Right {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: var(--white);
}

.H2-Black-Center {
    font-family: TTCommons-DemiBold;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.7px;
    text-align: center;
    color: var(--black);
}

.Body-Black-Left {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);
}

.Body-Black-Center {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

.Button-White-Center {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--white) !important;
}

.Button-White-Left {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--white);
}

.Button-Yellow-Center {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--macaroni-and-cheese);
}

.Body-Dark-Grey-Left {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--brownish-grey);
}

.Body-Dark-Grey-Center {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--brownish-grey);
}

.H2-Black-Left {
    font-family: TTCommons-DemiBold;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.7px;
    color: var(--black);
}

.Body-Place-Holder-Left {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--very-light-pink);
}

.Button-Black-Left {
    font-family: TTCommons-DemiBold;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);
}

.Button-Black-Center {
    font-family: TTCommons-DemiBold;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

.Button-Black-Right {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: var(--black);
}

.Button-Yellow-Left {
    font-family: TTCommons;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--macaroni-and-cheese);
}

.Button-Dark-Grey-Center {
    font-family: TTCommons-DemiBold;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--brownish-grey);
}

.Button-Dark-Grey-Left {
    font-family: TTCommons-DemiBold;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--brownish-grey);
}

.Caption-Grey-Left {
    font-family: TTCommons;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--brown-grey);
}

.Caption-Grey-Center {
    font-family: TTCommons;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
}

.Caption-Grey-Right {
    font-family: TTCommons;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: right;
    color: var(--brown-grey);
}