h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

body {
    margin: 0;
    padding: 0;
}

button {
    border-radius: 32px !important;
}

.main-wrapper {
    background: #fff;
    width: 100%;
    min-height: 100vh;
}

.body-content {
    max-width: 960px;
    margin: 0 auto;
}

.divider {
    p {
        right: 250px;
        position: absolute;
        background: #fff;
        width: 40px;
    }
    border-color: #efefef;
    border-style: solid;
    border-width: 0 0 1px;
    height: 10px;
    line-height: 20px;
    text-align: center;
    overflow: visable;
    span {
        background-color: white;
        display: inline-block;
        min-height: 20px;
        min-width: 10%;
    }
}

.ant-modal {
    width: 100vw !important;
    transform-origin: 1341px 47px 0px;
    height: 100vh !important;
    top: 0;
    .ant-modal-content {
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }
    .ant-modal-body {
        background: #fff
    }
}

.ant-progress-bg {
    border-radius: 2px !important;
}
.ant-table-thead>tr>th {
    background: none;
    span {
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.2px;
        color: #697584;
    }
}
.ant-progress-inner {

    background-color: transparent !important;

}
.ant-table-tbody>tr>td {
    border-bottom: none;
}