h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

body {
    margin: 0;
    padding: 0;
}

button {
    border-radius: 32px !important;
}
.paddingTop8 {
    padding-top: 8px !important;
}
.paddingTop16 {
    padding-top: 16px !important;
}
.paddingBottom16 {
    padding-bottom: 16px !important;
}
.paddingTop20 {
    padding-top: 20px !important;
}
.paddingBottom20 {
    padding-bottom: 20px !important;
}

.paddingTop40 {
    padding-top: 40px !important;
}

.paddingBottom24 {
    padding-bottom: 24px !important;
}

.paddingBottom56 {
    padding-bottom: 56px !important;
}
.paddingRight12{
    padding-right: 12px !important;
}
.paddingLeft12{
    padding-left: 12px !important;
}
.main-wrapper {
    background: #fff;
    width: 100%;
    min-height: 100vh;
}

.body-content {
    max-width: 960px;
    margin: 0 auto;
}

.input-title {
    padding-bottom: 8px;
}

.recharts-tooltip-wrapper {
    border-radius: 4px;
    .recharts-default-tooltip {
        border-radius: 4px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #f7f7f8;
        background-color: #37475b !important;
        border: 0 !important;
    }
}

.ant-select {
    width: 100%;
    .ant-select-selection__rendered {
        margin: 0;
    }
}

.ant-select-selection {
    width: 100%;
    padding: 0 !important;
    border: none !important;
    border-bottom: solid 1px #e6e8eb !important;
    border-radius: 0 !important;
    &:focus {
        outline: none;
        box-shadow: none !important;
    }
}

.ant-input-number-focused {
    box-shadow: none !important;
}

.ant-form-item-control {
    text-align: left;
}

.ant-input-number-input {
    padding: 0;
}

.ant-input,
.ant-input-number {
    width: 100%;
    padding: 0 !important;
    border: none !important;
    border-bottom: solid 1px #e6e8eb !important;
    border-radius: 0 !important;
    &:focus {
        outline: none;
        box-shadow: none !important;
    }
}

.ant-modal {
    width: 100vw !important;
    transform-origin: 1341px 47px 0px;
    height: 100vh !important;
    top: 0;
    .ant-modal-content {
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }
    .ant-modal-body {
        background: #fff
    }
}

.ant-progress-bg {
    border-radius: 2px !important;
}

.ant-table-thead>tr>th {
    background: none;
    span {
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.2px;
        color: #697584;
    }
}

.ant-progress-inner {
    background-color: transparent !important;
}

.ant-table-tbody>tr>td {
    border-bottom: none;
}