// Global style
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

body {
    margin: 0;
    padding: 0;
}

.max-width {
    max-width: 730px;
    margin: 0 auto;
}

.background {
    background-color: #e6e6e6;
}

.page-container {
    display: flex;
    flex-direction: column;
    background-color: #edf0f2;
    min-height: 100vh;
    .body-content {
        flex: 1;
        background-color: #edf0f2;
    }
}

.ant-btn-primary {
    color: #2e3033
}

.ant-input {
    height: 60px;
}

.marginBottom32 {
    margin-bottom: 32px;
}

.marginBottom24 {
    margin-bottom: 24px;
}

.marginBottom0 {
    margin-bottom: 0;
}

.paddingBottom32 {
    padding-bottom: 32px !important;
}

.paddingBottom16 {
    padding-bottom: 16px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}

.label-form {
    height: 28px;
    position: absolute;
    z-index: 2;
    top: -42px;
    left: 8px;
    background: #fff;
    padding: 0 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    min-height: 80px !important;
}

input,
textarea {
    border: solid 1px #c3ced9 !important;
}


.ant-card-bordered {
    border: 1px solid #e6e6e6;
}

.ant-card {
    border-radius: 8px;
    .ant-card-body {
        padding: 40px;
    }
}

.ant-tag {
    border: none;
    padding: 4px 8px;
    font-size: 10px;
    height: inherit;
    margin-bottom: 8px;
    background-color: #006cd9;
    border: solid 1px #006cd9;
    color: #fff;
    i {
        color: #fff !important;
    }
}