.people-card-container {
    margin: 8px auto;
    max-width: 600px;
    .ant-card-body {
        padding: 24px !important;
        .people-container {
            display: flex;
            .people-image-container {
                margin-right: 24px;
                img {
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }
        }
    }
    .people-right {
        display: flex;
        flex: 1;
        justify-content: space-between;
        .people-info-container {
            .people-mail {
                padding-bottom: 12px;
            }
            .people-desc {
                margin-bottom: 16px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .people-invite {
            img {
                width: 24px;
                height: 21px;
            }
        }
        .plus-button {
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            border: solid 1px #a1aab3;
            font-size: 10px;
            line-height: 1.6;
        }
    }
}