.people-card {
    margin-bottom: 20px;

    box-shadow: 0 6px 16px 0 rgba(54, 54, 54, 0.15);

    .ant-card-body {
        padding: 12px 16px !important;

        .people-container {
            display: flex;

            .people-image-container {
                margin-right: 24px;

                img {
                    object-fit: cover;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                }
            }
        }
    }

    .people-right {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .people-info-container {
            .people-mail {
                padding-bottom: 12px;
            }

            .tag-container {
                .ant-tag {
                    border-radius: 24px;
                    border: solid 1px #f7ca3d;
                    background: none;
                    color: #696969;
                }
             
            }

            .people-desc {
                margin-bottom: 16px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .people-invite {
            img {
                width: 24px;
                height: 21px;
            }
        }

        .plus-button {
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 24px;
            border: solid 1px #f7ca3d;
            font-size: 12px;
            line-height: 1.6;
        }
    }
}