.home-logged {

    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

    &__bar {
        width: 200px;

    }

    .sidebar {
        width: 247px;
        margin-top: 8px;
        float: left;
        position: fixed;

        .ant-card-body {
            padding: 24px !important;
        }

        .ant-checkbox-group {
            display: flex;
            flex-direction: column;

            .ant-checkbox-group-item {
                display: inline-block;
                border-radius: 4px;
                background-color: #f2f0ed;
                margin-bottom: 8px;
                margin-right: 0;
                padding: 8px;
                font-size: 12px;


            }
        }

        .ant-radio-group {
            display: flex;
            flex-direction: column;

            .ant-radio-wrapper {
                display: inline-block;
                border-radius: 4px;
                background-color: #f2f0ed;
                margin-bottom: 8px;
                margin-right: 0;
                padding: 8px;

                span {
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                }
            }
        }

        &__body {
            margin-top: 16px;
        }
    }
}

.home-container {
    background: #fff;

    .home {
        padding: 80px 0;
        max-width: 920px;
        margin: 0 auto;

        .home-header {
            display: flex;

            .pole {
                width: 8px;
                height: 80px;
                background-color: #2e3033;
                margin-right: 24px;
            }

            .together {
                color: #2e3033;
            }
        }

        .home-body {
            padding-top: 80px;

            .home-body__1 {
                display: flex;
                padding-bottom: 40px;

                .video-container {
                    width: 1400px;
                    height: 304px !important;
                }

                .intro {
                    padding-top: 40px;
                    margin-left: 40px;
                }

                button {
                    width: 160px;
                    height: 48px;
                    margin-top: 24px;
                }
            }

            .mid {
                max-width: 730px;
                margin: 0 auto;
                justify-content: space-between;
                display: flex;
            }

            .body__2-desc {
                white-space: pre;
            }
        }
    }

    .home-feature {
        background: #edf0f2;
        padding-bottom: 67px;

        .feature-title {
            padding-top: 64px;
            padding-bottom: 40px;
        }

        .feature-block-container {
            display: flex;
            max-width: 920px;
            margin: 0 auto;

            .block-left {
                margin-right: 30px;
                width: 50%;
            }

            .block-right {
                width: 50%;
            }

            .ant-card {
                border-radius: 0;
            }

            .feature-item {
                width: 50%;
                text-align: center;

                img {
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    margin-bottom: 20px;
                }

                .feature-number {
                    padding-top: 20px;
                    font-size: 48px;
                    font-weight: bold;
                    line-height: 1.17;
                    text-align: center;
                    color: #006cd9;
                    padding-bottom: 24px;
                }
            }

            .number-item {
                height: 203px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .home-coming {
        text-align: center;
        margin: 80px 0;

        img {
            width: 120px;
        }

        .coming-desc {
            padding-top: 24px;
        }
    }

    .home-notified {
        text-align: center;
        background: #edf0f2;
        padding-bottom: 40px;

        .notified-desc {
            padding-top: 64px;
        }

        .form-subscribe {
            padding-top: 40px;
            display: flex;
            justify-content: center;

            input {
                width: 350px;
                height: 48px;
                margin-right: 16px;
            }

            button {
                width: 174px;
                height: 48px;
            }
        }
    }
}