.newsfeed {
    max-width: 540px;
    margin: 0 auto;

    .filter__title {
        padding: 22px 0;
    }

    .newsfeed__header {
        display: flex;
        justify-content: space-around;
        padding: 30px 0;

        .header__item {
            padding: 6px 12px;
        }

        .item__clicked {
            border-radius: 24px;
            background-color: #f7ca3d;
            color: #fff;

        }
    }
}

.project-modal-container {
    .ant-modal-body {
        padding: 0 !important
    }
}