.header-container {
    background: #fff;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 64px;
    box-shadow: inset 0 -1px 0 0 #edf0f2;
    .header-max {
        max-width: 730px;
        margin: 0 auto;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left {
            display: flex;
            align-items: center;
            .logo {
                width: 32px;
                height: 32px;
                border: solid 4px #262626;
                border-radius: 50%;
            }
            .logo-name {
                margin-left: 12px;
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            .header-item {
                margin-left: 40px;
            }
        }
    }
}