.login-container {
    .signup-title {
        padding: 40px 0;
    }
    .signup-body {
        width: 540px;
        margin: 0 auto;
        .signup-button {
            button {
                width: 100%;
                height: 60px;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}